.item-error {
  border-top: none;
  padding-top: 0;
  font-size: 14px;
  color: #ce4844;
}

.list-icon-right .icon {
  float: right;
  font-size: 20px;
}

.list-courses-empty,
.list-attendance-empty {
  text-align: center;
  padding-top: 50px;
}

.list-courses-empty .button {
  margin-top: 40px;
}

.list-courses-empty .icon {
  font-size: 100px;
}

.list-courses-empty p {
  font-size: 18px;
}

.list-attendance-empty {
  opacity: 0.5;
}

.list-attendance-empty .icon {
  font-size: 70px;
}

.item-attendance.ng-enter,
.item-attendance.ng-leave, {
  -webkit-transition: 1s ease-out all;
  transition: 1s ease-out all;
}

.item-attendance.ng-enter,
.item-attendance.ng-leave.ng-leave-active {
  height: 0px;
}
.item-attendance.ng-leave,
.item-attendance.ng-enter.ng-enter-active {
  height: auto;
}

.item-attendance.ng-enter {

}
