<ion-modal-view title="Nova matéria" ng-controller="CoursesNewCtrl as Ctrl">
  <ion-header-bar>
    <h1 class="title">Nova matéria</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-close-empty" ng-click="closeNewClassModal()"></button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form name="courseForm" ng-init="setFormScope(this)">
      <div class="list">
        <label class="item item-input">
          <div class="input-label" for="input-courseName">
            Nome
          </div>
          <input
            type="text"
            placeholder="Ex.: Cálculo 1"
            id="input-courseName"
            name="courseName"
            ng-model="course.name"
            ng-model-onblur
            required>
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseName.$invalid && courseForm.courseName.$dirty">
          Dê um nome a essa matéria.
        </div>

        <label class="item item-input">
          <div class="input-label" for="input-courseStart">
            Começa em
          </div>

          <input
            type="date"
            id="courseStart"
            name="courseStart"
            ng-model="course.start"
            ng-model-onblur
            placeholder="{{defaultStartPlaceholder}}"
            required
            >
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseStart.$invalid && courseForm.courseStart.$dirty">
          A matéria precisa de um início.
        </div>

        <label class="item item-input">
          <div class="input-label" for="input-courseEnd">
            Termina em
          </div>

          <input
            type="date"
            id="input-courseEnd"
            name="courseEnd"
            ng-model="course.end"
            ng-model-onblur
            placeholder="{{defaultEndPlaceholder}}"
            required>
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseEnd.$invalid && courseForm.courseEnd.$dirty">
          A matéria precisa de um fim.
        </div>
      </div>

      <ion-list class="list">
        <ion-item class="item-divider">
          Dias da semana
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[1]">
          Segunda-feira

          <span
            class="pull-right"
            ng-if="weekdays[1] == 1">
            {{course.classes[1]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[1] == true">
          <input type="range" ng-model="course.classes[1]" min="1" max="6" value="2" ng-init="course.classes[1]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[2]">
          Terça-feira

          <span
            class="pull-right"
            ng-if="weekdays[2] == 1">
            {{course.classes[2]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[2] == true">
          <input type="range" ng-model="course.classes[2]" min="1" max="6" value="2" ng-init="course.classes[2]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[3]">
          Quarta-feira

          <span
            class="pull-right"
            ng-if="weekdays[3] == 1">
            {{course.classes[3]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[3] == true">
          <input type="range" ng-model="course.classes[3]" min="1" max="6" value="2" ng-init="course.classes[3]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[4]">
          Quinta-feira

          <span
            class="pull-right"
            ng-if="weekdays[4] == 1">
            {{course.classes[4]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[4] == true">
          <input type="range" ng-model="course.classes[4]" min="1" max="6" value="2" ng-init="course.classes[4]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[5]">
          Sexta-feira

          <span
            class="pull-right"
            ng-if="weekdays[5] == 1">
            {{course.classes[5]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[5] == true">
          <input type="range" ng-model="course.classes[5]" min="1" max="6" value="2" ng-init="course.classes[5]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[6]">
          Sábado

          <span
            class="pull-right"
            ng-if="weekdays[6] == 1">
            {{course.classes[6]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[6] == true">
          <input type="range" ng-model="course.classes[6]" min="1" max="6" value="2" ng-init="course.classes[6]=2" />
        </ion-item>

        <ion-checkbox ng-change="resizeScroll()" ng-model="weekdays[0]">
          Domingo

          <span
            class="pull-right"
            ng-if="weekdays[0] == 1">
            {{course.classes[0]}} aulas
          </span>
        </ion-checkbox>

        <ion-item class="range" ng-show="weekdays[0] == true">
          <input type="range" ng-model="course.classes[0]" min="1" max="6" value="2" ng-init="course.classes[0]=2" />
        </ion-item>
      </ion-list>

      <button
        class="button button-block button-positive button-full"
        ng-disabled="!courseForm.$valid || !hasAtLeastOneClass(weekdays, course.classes)"
        ng-click="save(course, weekdays)">Salvar</button>
    </form>
  </ion-content>
</ion-modal-view>
