<ion-view>
  <ion-nav-title>{{course.name}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-click="openCourseActionSheet(course)" class="button button-icon button-clear ion-ios-gear-outline"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding-bottom">
    <ion-list class="list list-icon-right">
      <ion-item class="item-divider">
        Presença nas aulas
      </ion-item>

      <ion-item ng-repeat="(index, attendance) in course.attendance.classes track by index" class="item-button-left">
        <button ng-click="showAttendanceClearConfirmation(course, attendance.date)" class="button button-icon button-clear ion-ios-close-outline"></button>

        {{moment(attendance.date).format('D/MM/YYYY - ddd')}}

        <span ng-show="attendance.didAttend != null">
          <i
            class="icon ion-close assertive"
            ng-show="attendance.didAttend === false"
            ></i>
          <i
            class="icon ion-checkmark balanced"
            ng-show="attendance.didAttend === true"
            ></i>
          <i
            class="icon ion-help"
            ng-show="attendance.didAttend === null"
            ></i>
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
