<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-side-menus>
    <ion-side-menu-content>
        <ion-header-bar class="bar-stable">
          <button class="button" ui-sref="courses_new"><i class="icon ion-ios7-plus-empty"></i></button>
          <h1 class="title">Minhas matérias</h1>
          <button class="button" menu-toggle="right"><i class="icon ion-ios7-bell"></i></button>
        </ion-header-bar>
        <ion-content class="has-header">
          <div
            class="padding list-courses-empty"
            ng-if="courses.length == 0">
            <p><i class="icon ion-university dark"></i></p>
            <p>Cadastre sua primeira matéria e não perca controle de suas faltas.</p>

            <button class="button button-block button-positive" ui-sref="courses_new">Nova matéria</button>
          </div>

          <ion-list>
            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: course.id})" ng-repeat="course in courses track by course.id">
              <i
                class="icon ion-university positive"
                ng-class="{
                  balanced: course.doc.attendance.count / getCourseClassesCountUntilNow(course.doc) > 0.60,
                  energized: course.doc.attendance.count / getCourseClassesCountUntilNow(course.doc) <= 0.60 && course.doc.attendance.count / getCourseClassesCountUntilNow(course.doc) >= 0.25,
                  assertive: course.doc.attendance.count / getCourseClassesCountUntilNow(course.doc) < 0.25
                }"></i> {{course.doc.name}}
              <p>{{course.doc.attendance.count}} presenças em {{getCourseClassesCountUntilNow(course.doc)}} aulas</p>

              <ion-option-button class="button-assertive" ng-click="remove(course.doc)">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>
        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="right">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Você estava presente?</h1>
      </ion-header-bar>

      <ion-content>
        <div
          class="padding list-attendance-empty"
          ng-if="!attendanceListByDate">
          <p><i class="icon ion-beer energized"></i></p>
          <p>Nenhuma aula até agora.</p>
        </div>

        <div ng-if="attendanceListByDate">
          <!-- <div class="padding dark">Caso não houver aula use o botão <i class="icon ion-beer energized"></i></div> -->

          <ion-list>
            <div ng-repeat="(date, attendanceList) in attendanceListByDate">
              <ion-item class="item-divider">
                {{date | date : 'dd/MM/yyyy'}}
              </ion-item>

              <ion-item
                class="item-button-right item-attendance"
                ng-repeat="attendance in attendanceList">
                <h2>{{attendance.courseName}}</h2>

                <div class="buttons">
                  <a class="button button-clear button-balanced" ng-click="didAttend(attendance.courseId, date)">
                    <i class="icon ion-checkmark"></i>
                  </a>

                  <a class="button button-clear button-assertive" ng-click="didNotAttend(attendance.courseId, date)">
                    <i class="icon ion-close"></i>
                  </a>

                  <!-- <a class="button button-clear button-energized" ng-click="didNotHaveClass(attendance.courseId, date)">
                    <i class="icon ion-beer"></i>
                  </a> -->
                </div>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
