<ion-view title="Nova matéria">
  <ion-content class="has-header">
    <form name="courseForm">
      <div class="list">
        <label class="item item-input">
          <div class="input-label" for="input-courseName">
            Nome
          </div>
          <input
            type="text"
            placeholder="Ex.: Cálculo 1"
            id="input-courseName"
            name="courseName"
            ng-model="course.name"
            ng-model-onblur
            required>
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseName.$invalid && courseForm.courseName.$dirty">
          Dê um nome a essa matéria.
        </div>

        <label class="item item-input">
          <div class="input-label" for="input-courseStart">
            Começa em
          </div>

          <input
            type="date"
            id="courseStart"
            name="courseStart"
            ng-model="course.start"
            ng-model-onblur
            placeholder="{{defaultStartPlaceholder}}"
            required
            >
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseStart.$invalid && courseForm.courseStart.$dirty">
          A matéria precisa de um início.
        </div>

        <label class="item item-input">
          <div class="input-label" for="input-courseEnd">
            Termina em
          </div>

          <input
            type="date"
            id="input-courseEnd"
            name="courseEnd"
            ng-model="course.end"
            ng-model-onblur
            placeholder="{{defaultEndPlaceholder}}"
            required>
        </label>
        <div
          class="item item-error"
          ng-if="courseForm.courseEnd.$invalid && courseForm.courseEnd.$dirty">
          A matéria precisa de um fim.
        </div>
      </div>

      <ul class="list">
        <li class="item item-divider">
          Dias da semana
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.1">
           </label>
           Segunda-feira
        </li>

        <li class="item item-input" ng-show="weekdays.1 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.1" size="1" min="0" ng-init="course.classes.1=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.2">
           </label>
           Terça-feira
        </li>

        <li class="item item-input" ng-show="weekdays.2 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.2" size="1" min="0" ng-init="course.classes.2=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.3">
           </label>
           Quarta-feira
        </li>

        <li class="item item-input" ng-show="weekdays.3 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.3" size="1" min="0" ng-init="course.classes.3=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.4">
           </label>
           Quinta-feira
        </li>

        <li class="item item-input" ng-show="weekdays.4 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.4" size="1" min="0" ng-init="course.classes.4=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.5">
           </label>
           Sexta-feira
        </li>

        <li class="item item-input" ng-show="weekdays.5 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.5" size="1" min="0" ng-init="course.classes.5=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.6">
           </label>
           Sábado
        </li>

        <li class="item item-input" ng-show="weekdays.6 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.6" size="1" min="0" ng-init="course.classes.6=2" />
        </li>

        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="weekdays.0">
           </label>
           Domingo
        </li>

        <li class="item item-input" ng-show="weekdays.0 == true">
          <span class="input-label">Qtd. de aulas</span>
          <input type="number" ng-model="course.classes.0" size="1" min="0" ng-init="course.classes.0=2" />
        </li>
      </ul>

      <button
        class="button button-block button-positive button-full"
        ng-disabled="!courseForm.$valid || !hasAtLeastOneClass(weekdays, course.classes)"
        ng-click="save(course, weekdays)">Salvar</button>
    </form>
  </ion-content>
</ion-view>
