<ion-view title="{{course.name}}">
  <ion-content class="has-header">
    <ul class="list list-icon-right">
      <li class="item item-divider">
        Presença nas aulas
      </li>

      <li class="item" ng-repeat="(index, attendance) in course.attendance.classes">
        {{attendance.date | date : 'dd/MM/yyyy - EEE'}}

        <i
          class="icon ion-thumbsdown negative"
          ng-show="attendance.didAttend == false"
          ></i>
        <i
          class="icon ion-thumbsup balanced"
          ng-show="attendance.didAttend == true"
          ></i>
        <i
          class="icon ion-help"
          ng-show="attendance.didAttend == null"
          ></i>
      </li>
    </ul>
  </ion-content>
</ion-view>
