<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-side-menus>
    <ion-side-menu-content>
        <ion-header-bar class="bar-stable">
          <button class="button" ui-sref="courses_new"><i class="icon ion-ios7-plus-empty"></i></button>
          <h1 class="title">Minhas matérias</h1>
          <button class="button" menu-toggle="right"><i class="icon ion-ios7-bell"></i></button>
        </ion-header-bar>
        <ion-content class="has-header">
          <ion-list>
            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university energized"></i> PAA
              <p>10 faltas em 30 aulas</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university balanced"></i> Segurança Computacional
              <p>2 faltas em 30 aulas</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university energized"></i> Segurança e Auditoria de SI
              <p>15 faltas em 30 aulas</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university assertive"></i> IHM
              <p>20 faltas em 30 aulas</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university dark"></i> Inteligência Artificial
              <p>Ainda não começou</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left" ui-sref="courses_show({courseId: 1})">
              <i class="icon ion-university dark"></i> AED 3
              <p>Terminou</p>

              <ion-option-button class="button-assertive">
                <i class="icon ion-trash-a"></i>
              </ion-option-button>
            </ion-item>
          </ion-list>

          <!-- <button class="button button-block button-full button-positive button-outline" ui-sref="courses_new">Nova matéria</button> -->
        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="right">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Você estava presente?</h1>
      </ion-header-bar>

      <ion-content title="Você estava presente?">
        <ion-list>

          <ion-item class="item-divider">
            12/11 - Seg
          </ion-item>

          <ion-item class="item-button-right">
            <h2>PAA</h2>

            <div class="buttons">
              <a class="button button-clear button-assertive" href="#">
                <i class="icon ion-thumbsdown"></i>
              </a>

              <a class="button button-clear button-balanced" href="#">
                <i class="icon ion-thumbsup"></i>
              </a>
            </div>
          </ion-item>

          <ion-item class="item-button-right">
            <h2>Segurança Computacional</h2>

            <div class="buttons">
              <a class="button button-clear button-assertive" href="#">
                <i class="icon ion-thumbsdown"></i>
              </a>

              <a class="button button-clear button-balanced" href="#">
                <i class="icon ion-thumbsup"></i>
              </a>
            </div>
          </ion-item>

          <ion-item class="item-divider">
            08/11 - Qui
          </ion-item>

          <ion-item class="item-button-right">
            <h2>IHM</h2>

            <div class="buttons">
              <a class="button button-clear button-assertive" href="#">
                <i class="icon ion-thumbsdown"></i>
              </a>

              <a class="button button-clear button-balanced" href="#">
                <i class="icon ion-thumbsup"></i>
              </a>
            </div>

          </ion-item>

        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
