<ion-view title="Nova matéria">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input">
        <div class="input-label">
          Nome
        </div>
        <input type="text" placeholder="Ex.: Cálculo 1" ng-model="course.name">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Início em
        </div>

        <input type="date" ng-model="course.start">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Término em
        </div>

        <input type="date" ng-model="course.end">
      </label>
    </div>

    <ul class="list">
      <li class="item item-divider">
        Dias da semana
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.1">
         </label>
         Segunda-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.2">
         </label>
         Terça-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.3">
         </label>
         Quarta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.4">
         </label>
         Quinta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.5">
         </label>
         Sexta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.6">
         </label>
         Sábado
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="weekdays.0">
         </label>
         Domingo
      </li>
    </ul>

    <button class="button button-block button-positive button-full" ui-sref="main">Salvar</button>
  </ion-content>
</ion-view>
