<ion-view title="PAA">
  <ion-content class="has-header">
    <ul class="list">
      <li class="item item-divider">
        Dias da semana
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Segunda-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Terça-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Quarta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Quinta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Sexta-feira
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Sábado
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Domingo
      </li>
    </ul>
  </ion-content>
</ion-view>
